//mettre les modif ici :
$primary: #906427;
$seconadary: #b6ac97;
$dark: #392c1e;
$black: #292222;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;

// il faut ici importer bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
