@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";

// ********************** hom stylisation
html {
    position: relative;
    min-height: 100%;
}
//comme ca mon main ne soit pas coller avec footer
main {
    margin-bottom: 260px;
}
// quand mon footer aura la class footer -> je veux 15px de padding/ avoir le footer en bas de la page , je dois mettre mon html element en relative
footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

// mettre tout mes p en font hind madurai :
p {
    font-family: $font-family-serif;
    font-size: 16px;
}
.hero-scene {
    position: relative;
    margin-bottom: 15px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/font-hero.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }

    * {
        //Positionner les éléments devant le ::before
        position: relative;
    }

    .hero-scene-content {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.text-justify {
    text-align: justify;
}
// **************************** Galerie stylisation
.image-card {
    position: relative;
    &:hover {
        .titre-image {
            opacity: 1;
        }
        img {
            filter: brightness(0.3);
        }
    }
    img {
        transition: all 0.3s;
    }
    .titre-image {
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        transition: all 0.3s;
    }
}

//********* stylisation page Connexion
.form-label {
    color: $primary;
}
